/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/*
/application/admin/command/Install/*.lock
/public/assets/libs/
/public/assets/addons/*
/public/uploads/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode

*.phar
/application/admin/controller/example
/application/admin/view/example

/application/admin/lang/*
/application/admin/validate

example

bespeak
pati*
signin*
calendar*
area*